body{
    background: #555f55;
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
}
.signup{
    width: 360px;
    height: 700px;
    background: white;
    margin: auto;
    border-radius: 10px;
}
.login{
    width: 360px;
    height: 300px;
    background: white;
    margin: auto;
    border-radius: 10px;
}
h1{
    text-align: center;
}
h4{
    text-align: center;
    padding-top: 15px;
}
form{
    width: 300px;
    margin-left: 20px;
}
form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}
form input{
    width: 100%;
    padding: 6px;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
}
input[type="submit"]{
    width: 320px;
    height: 35px;
    margin-top: 6px;
    border: none;
    background-color: orangered;
    color: black;
    font-size: 18px;
    cursor: pointer;
}
input[type="submit"]:hover{
    color: white;
    background: rgb(19, 22, 62);
}
p{
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
}
span{
    color: red;
    font-size: 36px;
}